/* line 4, ../sass/partials/shop/_one.scss */
.header-top {
  padding: 10px 0;
}

/* line 7, ../sass/style.scss */
body {
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: #555;
}
/* line 14, ../sass/style.scss */
body a {
  color: #555;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/* line 17, ../sass/style.scss */
body a:hover {
  color: #CC2121;
  outline: none;
  text-decoration: none;
}
/* line 22, ../sass/style.scss */
body a :focus {
  color: #CC2121;
  outline: none;
  text-decoration: none;
}
/* line 29, ../sass/style.scss */
body p {
  margin-bottom: 0;
}
/* line 33, ../sass/style.scss */
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #242424;
  margin-bottom: 0;
}
/* line 42, ../sass/style.scss */
body ul {
  margin: 0;
  padding: 0;
}
/* line 45, ../sass/style.scss */
body ul li {
  list-style: none;
}
/* line 51, ../sass/style.scss */
body img {
  max-width: 100%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/* line 56, ../sass/style.scss */
body .bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
