/*------ pricing filter slider start ------*/
.price-range-wrap {
  padding-top: 8px;
}

.price-range-wrap .price-range {
  border-radius: 0;
  margin-right: 13px;
  margin-bottom: 20px;
}

.price-range-wrap .price-range.ui-widget-content {
  border: none;
  background: #eeeeee;
  height: 6px;
  border-radius: 20px;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-range {
  background-color: #cc2121;
  border-radius: 0;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
  border: none;
  background-color: #fff;
  height: 12px;
  width: 12px;
  outline: none;
  cursor: ew-resize;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-handle:before {
  top: 50%;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  background-color: #cc2121;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-range-wrap .range-slider {
  color: #242424;
  margin-top: 30px;
}

.price-range-wrap .range-slider .price-input label {
  color: #242424;
  margin-bottom: 0;
}

.price-range-wrap .range-slider .price-input input {
  color: #555;
  border: none;
  outline: none;
  max-width: 80px;
  pointer-events: none;
}

.price-range-wrap .range-slider button.filter-btn {
  border: none;
  color: #242424;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  padding: 4px 15px;
  border-radius: 3px;
  background-color: #ebebeb;
}

.price-range-wrap .range-slider button.filter-btn:hover {
  color: #fff;
  background-color: #cc2121;
}

/*------ pricing filter slider end ------*/
.categories-list li {
  color: #555;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.categories-list li:last-child {
  margin-bottom: 0;
}

.categories-list li:hover {
  color: #cc2121;
}

/*------ shop categories area start ------*/
.shop-categories {
  margin-top: -4px;
}

.shop-categories li a {
  color: #555;
  display: block;
  padding: 6px 0;
  text-transform: capitalize;
}

.shop-categories li a span {
  float: right;
  width: 30px;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
  margin-top: -3px;
  background-color: #f2f2f2;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.shop-categories li:first-child a {
  padding-top: 0;
}

.shop-categories li:last-child a {
  padding-bottom: 0;
}

.shop-categories li:hover a {
  color: #cc2121;
}

.shop-categories li:hover a span {
  color: #fff;
  background-color: #cc2121;
}

/*------ shop categories area end ------*/
/*----- shop Sidebar end -----*/


/*------ contact form area start -------*/
.contact-area {
  margin-top: -4px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (max-width: 767.98px) {
  .contact-area {
    margin-bottom: -5px;
  }
}

.contact-message h2 {
  color: #242424;
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 28px;
  text-transform: capitalize;
}

@media only screen and (max-width: 575.98px) {
  .contact-message h2 {
    font-size: 18px;
    padding-bottom: 15px;
  }
}

.contact-message form input,
.contact-message form textarea {
  width: 100%;
  border: none;
  padding: 10px 10px;
  border-bottom: 3px solid transparent;
  background-color: #f7f7f7;
  margin-bottom: 30px;
}

.contact-message form textarea {
  height: 150px;
}

/*------ contact form area start -------*/
/*------ contact info area start -------*/
.contact-info {
  height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .contact-info {
    margin-top: 77px;
  }
}

@media only screen and (max-width: 767.98px) {
  .contact-info {
    margin-top: 60px;
  }
}

.contact-info h2 {
  color: #242424;
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 22px;
  text-transform: capitalize;
}

@media only screen and (max-width: 575.98px) {
  .contact-info h2 {
    font-size: 18px;
    padding-bottom: 8px;
  }
}

.contact-info p {
  color: #555;
  padding-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .contact-info p {
    padding-bottom: 10px;
  }
}

.contact-info ul li {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 479.98px) {
  .contact-info ul li {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

.contact-info ul li:last-child {
  border-bottom: none;
}

.contact-info ul li i {
  font-size: 18px;
  padding-right: 10px;
}

.contact-info .working-time h3 {
  color: #242424;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
}

.contact-info .working-time p {
  padding-bottom: 0;
}

.contact-info .working-time p span {
  color: #242424;
  padding-right: 10px;
}

.btn__bg {
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 0;
  background-color: #CC2121;
}

.btn__bg:hover {
  color: #fff;
  background-color: #555;
}

/*------ contact info area end -------*/
/*--------- Cart Page Wrapper Start ---------*/
.cart-table .table {
  margin: 0;
  white-space: nowrap;
}

.cart-table .table thead {
  background-color: #cc2121;
}

.cart-table .table thead tr th {
  border-color: #cc2121;
  border-bottom: 0 solid transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
}

.cart-table .table tbody tr td {
  border-color: #ccc;
  text-align: center;
  padding: 10px 20px;
  vertical-align: middle;
  font-weight: 500;
  color: #242424;
}

.cart-table .table tbody tr td a {
  color: #242424;
  font-weight: 400;
  text-transform: capitalize;
}

.cart-table .table tbody tr td a:hover {
  color: #cc2121;
}

.cart-table .table tbody tr td a.btn {
  color: #fff;
}

.cart-table .table tbody tr td a.btn:hover {
  color: #fff;
}

.cart-table .table tbody tr td a.check-btn {
  color: #fff;
}

.cart-table .table tr .pro-thumbnail,
.cart-table .table tr .pro-price,
.cart-table .table tr .pro-quantity,
.cart-table .table tr .pro-subtotal,
.cart-table .table tr .pro-remove {
  width: 140px;
}

.cart-table .table tr .pro-qty {
  width: 90px;
  height: 40px;
  border: 1px solid #ddd;
  padding: 0 15px;
  float: left;
}

.cart-table .table tr .pro-qty .qtybtn {
  width: 15px;
  display: block;
  float: left;
  line-height: 38px;
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #555;
}

.cart-table .table tr .pro-qty input {
  width: 28px;
  float: left;
  border: none;
  height: 40px;
  line-height: 34px;
  padding: 0;
  text-align: center;
  background-color: transparent;
}

.cart-update-option {
  border: 1px solid #ccc;
  margin-top: 15px;
  padding: 15px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (min-width: 1200px), only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .cart-update-option {
    margin-top: 0;
    border-top: 0 solid transparent;
  }
}

.cart-update-option .apply-coupon-wrapper {
  width: 55%;
}

@media only screen and (max-width: 767.98px), only screen and (min-width: 768px) and (max-width: 991.98px) {
  .cart-update-option .apply-coupon-wrapper {
    width: auto;
  }
}

.cart-update-option .apply-coupon-wrapper form {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  white-space: nowrap;
}

.cart-update-option .apply-coupon-wrapper form input {
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 9px 10px;
  outline: none;
  margin-right: 15px;
  width: 100%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.cart-update-option .apply-coupon-wrapper form input:focus,
.cart-update-option .apply-coupon-wrapper form input:active {
  border-color: #cc2121;
}

@media only screen and (max-width: 767.98px) {
  .cart-update-option .apply-coupon-wrapper button {
    display: block;
    width: 100%;
    margin-top: 15px;
    border-radius: 0;
  }
}

@media only screen and (max-width: 767.98px) {
  .cart-update-option .cart-update {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 767.98px) {
  .cart-update-option .cart-update .btn {
    width: 100%;
  }
}

.cart-calculator-wrapper {
  margin-top: 30px;
  background-color: #f8f8f8;
}

.cart-calculator-wrapper h3 {
  color: #242424;
  font-size: 18px;
  font-weight: 500;
  padding: 27px 15px 25px;
  margin-bottom: 0;
}

.cart-calculator-wrapper .cart-calculate-items {
  font-weight: 500;
}

.cart-calculator-wrapper .cart-calculate-items .table {
  margin-bottom: 0;
}

.cart-calculator-wrapper .cart-calculate-items .table tr td {
  color: #242424;
  padding: 15px 20px;
}

.cart-calculator-wrapper .cart-calculate-items .table tr td:nth-child(2) {
  color: #242424;
  text-align: right;
}

.cart-calculator-wrapper .cart-calculate-items .table tr td.total-amount {
  color: #cc2121;
  font-weight: 700;
}

.cart-calculator-wrapper a {
  border-radius: 0;
  text-align: center;
}

/*--------- Cart Page Wrapper end ---------*/
/*-------- footer top area start --------*/
.footer-top {
    padding: 40px 0px;
  }
  
  .footer-widget-inner {
    padding-bottom: 72px;
    border-bottom: 1px solid #ebebeb;
  }
  
  @media only screen and (max-width: 767.98px) {
    .footer-widget-inner {
      padding-bottom: 54px;
    }
  }
  
  .footer-widget-logo {
    padding-bottom: 24px;
  }
  
  .footer-widget-title {
    padding-bottom: 27px;
    margin-top: -5px;
  }
  
  @media only screen and (max-width: 767.98px) {
    .footer-widget-title {
      padding-bottom: 20px;
    }
  }
  
  .footer-widget-title h5 {
    color: #242424;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    text-transform: capitalize;
  }
  
  .footer-widget-body .widget-text {
    color: #555;
    line-height: 1.5;
    padding-bottom: 25px;
  }
  
  .footer-widget-body li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
  
  .footer-widget-body li em {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    padding-right: 5px;
    text-transform: uppercase;
  }
  
  .footer-widget-body li a {
    color: #555;
    text-transform: capitalize;
  }
  
  .footer-widget-body li a:hover {
    color: #cc2121;
    padding-left: 5px;
  }
  
  .footer-widget-body li:last-child {
    margin-bottom: 0;
  }
  
  .newsletter-inner p {
    padding-bottom: 20px;
  }
  
  .newsletter-inner form {
    position: relative;
  }
  
  .newsletter-inner .news-field {
    width: 100%;
    height: 44px;
    display: block;
    border: none;
    line-height: 1;
    padding: 0 110px 0 15px;
    color: #242424;
    background-color: #fff;
    position: relative;
    border-radius: 30px;
  }
  
  .newsletter-inner .news-btn {
    top: 0;
    right: 0;
    height: 44px;
    font-size: 12px;
    position: absolute;
    color: #242424;
    line-height: 1;
    font-weight: 500;
    padding: 0 15px;
    display: inline-block;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 0 30px 30px 0;
  }
  
  .newsletter-inner .news-btn:hover {
    color: #cc2121;
  }
  
  .footer-social-link {
    padding-top: 35px;
  }
  
  .footer-social-link a {
    width: 40px;
    height: 40px;
    color: #555;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
  }
  
  .footer-social-link a:hover {
    background-color: #242424;
  }
  
  .footer-social-link a:last-child {
    margin-right: 0;
  }
  
  /*-------- footer top area end --------*/
  /*-------- footer bottom area start --------*/
  .footer-bottom-area {
    padding: 25px 0;
  }
  
  @media only screen and (max-width: 767.98px) {
    .footer-bottom-area {
      text-align: center;
    }
  }
  
  .copyright-text p {
    font-size: 14px;
    color: #555;
  }
  
  .copyright-text p a {
    color: #cc2121;
  }
  
  .copyright-text p a:hover {
    text-decoration: underline;
  }
  
  @media only screen and (max-width: 479.98px) {
    .copyright-text p {
      font-size: 13px;
    }
  }
  
  .payment-method {
    text-align: right;
  }
  
  @media only screen and (max-width: 767.98px) {
    .payment-method {
      text-align: center;
      padding-bottom: 10px;
    }
  }
  
  /*-------- footer bottom area end --------*/
  
